.modal-content{
    width: 700px;
    /* background-color: aquamarine; */
    background-color: #ffffff;
    height: 500px;

}

.input-field{
    width: 80%;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
}

.form{
    display: inline-block;
    width: 100%;
   
}

label{
    gap: 10px;
}